.conteiner{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 60px);
    
}
.box{
    
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 20px;

    
}.box1{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 6px;
    grid-column: 1/5;
    grid-row: 1;
    background-color: #3e3e3f;
    color: white;
    font-size: 40px;
    text-align: end;

}

.box2{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    text-align: center;
    grid-column:1 ;
    grid-row: 2;
    background-color: #e8eff1;
    font-size: 25px;
    padding: 15px;
    
    
}

.box3{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 14px;
    grid-column:2;
    grid-row: 2;
    background-color: #e8eff1;
    text-align: center;
    font-size: 27px;
}

.box4{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 20px;
    grid-column:3;
    grid-row: 2;
    background-color: #e8eff1;
    text-align: center;
}

.box11{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 15px;
    grid-column:4;
    grid-row: 2;
    background-color: #e8eff1;
    text-align: center;
    font-size: 25px;
}


.box5{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 20px;
    grid-column:1;
    grid-row: 3;
    text-align: center;
    font-size: 20px;
}

.box6{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 20px;
    grid-column:2;
    grid-row: 3;
    text-align: center;
    font-size: 20px;
}

.box7{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 20px;
    grid-column:3;
    grid-row: 3;
    text-align: center;
    font-size: 20px;
}

.box8{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 20px;
    grid-column:1;
    grid-row: 4;
    text-align: center;
    font-size: 20px;
}

.box9{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 20px;
    grid-column:2;
    grid-row: 4;
    text-align: center;
    font-size: 20px;
}

.box10{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 20px;
    grid-column:3;
    grid-row: 4;
    text-align: center;
    font-size: 20px;
}

.box12{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 20px;
    grid-column:1;
    grid-row: 5;
    text-align: center;
    font-size: 20px;
}

.box13{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 20px;
    grid-column:2;
    grid-row: 5;
    text-align: center;
    font-size: 20px;
}

.box14{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 20px;
    grid-column:3;
    grid-row: 5;
    text-align: center;
    font-size: 20px;
}

.box15{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 20px;
    grid-column:1;
    grid-row: 6;
    text-align: center;
    font-size: 20px;
}

.box16{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 20px;
    grid-column:2;
    grid-row: 6;
    text-align: center;
    font-size: 20px;
}

.box17{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 20px;
    grid-column:3;
    grid-row: 6;
    text-align: center;
    font-size: 20px;
}

.box18{
    background-color: #ffffff;
    border: #aca9a9 1px solid;
    padding: 20px;
    grid-column:4;
    grid-row: 3/7;
    background-color: #f35656;
    padding: 95px 37px;
    font-size: 40px;
}


